@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.matrix-rain {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.matrix-column {
  display: flex;
  flex-direction: column-reverse;
  width: 1vw;
  /* Use percentage unit instead of pixels */
  overflow: hidden;
}

.matrix-char {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1vw;
  /* Use percentage unit instead of pixels */
  opacity: 1;
  /* Set opacity to 1 to make characters fully visible */
}

.matrix-char:nth-child(1) {
  animation-delay: 0s;
  /* No delay for the first character */
}

.matrix-char:nth-child(2) {
  animation-delay: 0.00s;
  /* Add a small delay for the second character */
}

/* Aumenta el retraso basado en la posición vertical del carácter */
.matrix-column .matrix-char:nth-child(n+2) {
  animation-delay: calc((var(--row-index) * 0.05s) + 0.05s);
}